@import "../colors.css";

.home-page-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--br-dark);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    background-color: var(--br-c-normal); 
    color: #291d0b;
}



.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.big-button {
    padding: 15px 30px; 
    font-size: 25px; 
    margin: 0 10px;
    background-color: var(--br-c-normal); 
    color: rgb(0,0,0); 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}


.big-button:hover {
    background-color: var(--br-c-dark);
    color: white; 
}

.custom-alert{
    color: white;
    border: 2px solid var(--br-dark);
    border-radius: 10px;
    background-color: var(--br-dark);
    position: absolute;
    height: 30px;
    top:15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    display: inline-block; 
    white-space: nowrap; 
    display: flex; 
    justify-content: center;
    align-items: center;
    animation: fadeOut 5s forwards; /* Añade la animación */
    z-index: 800;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}