.friend-image{
    height: 100px ;
    width: 100px ; 
    object-fit: cover;
    border-radius: 50%;
    margin-top: 3px ;
}
.friend-container{
    position: relative;
    width: 125px;
    height: 150px;
    text-align: center;
    line-height: 0px;
    vertical-align: middle;
}
.friend-name{
    color:white;
}
.friend-error-text{
    color:white;
}