@import "../colors.css";


.chat-container{
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 25%;
    height: 100%;
}

.chat {
    background-color: var(--br-trans-grey);
    padding: 5%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.message-container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 15px;
    margin-right: 50px;
    scrollbar-width: thin; /* Compatibilidad con Firefox */
    scrollbar-color: var(--br-trans-grey-light) var(--br-dark); /* fallback para navegadores no compatibles */
}

.message-container::-webkit-scrollbar {
    width: 8px;
}

.message-container::-webkit-scrollbar-track {
    background: var(--br-dark); 
    border-radius: 4px;/* Dark track */
}

.message-container::-webkit-scrollbar-thumb {
    background-color: var(--br-trans-grey-light); /* Darker thumb */
    border-radius: 4px;
}


.chat-message {
    color: var(--br-c-normal);
}

.message-content {
    color: white;
}

.message-input {
    margin-top: auto;
    background-color: var(--br-trans-grey);
    border: 0;
    padding: 5px;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    color: white;
    width: 100%;
}
.message-input::placeholder {
    color: "grey";
}

.message-input:focus {
    outline:none;
}