@import "../colors.css";

.drop-zone-hide {
    border: 1px solid var(--br-c-dark);     
    border-radius: 15%;            
}
.drop-zone-show {
    border: 1px solid #fff ;   
    border-radius: 15%;            
}

.drop-zone-darkened {
    background-color: rgba(0, 0, 0, 0);
}

.drop-zone.drop-zone-possible {
    animation: pulsate 0.3s infinite alternate; 
    background-color: transparent; 
}

.drop-zone-trans-border {
    border: 0px solid transparent
}


@keyframes pulsate {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: rgba(255, 255, 255, 0.5);
    }
}