@import "../colors.css";


.player-list-container{
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 25%;
    height: 100%
}

.player-list {
    position: relative;
    background-color: var(--br-trans-grey);
    padding: 5%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto; 
    max-height: 120%; 
    min-height: 100%;
    gap: 10px;
    overflow-y: auto; 
    overflow-x: hidden; 
    scrollbar-width: thin; 
    scrollbar-color: var(--br-trans-grey-light) var(--br-dark); 
}

.player-list::-webkit-scrollbar {
    width: 8px;
}

.player-list::-webkit-scrollbar-track {
    background: var(--br-dark); 
    border-radius: 4px; 
}

.player-list::-webkit-scrollbar-thumb {
    background-color: var(--br-trans-grey-light);
    border-radius: 4px;
}

.player-container {
    display: flex;             
    align-items: center;    
    background-color: var(--br-trans-grey); 
    padding: 15px;
    border-radius: 10px; 
    width: 100%;
    position: relative; 
}

.player-container-text {
    display: inline-flex; 
    flex-direction: column;
    justify-content: center;
    color: var(--br-c-normal);
    text-align: center;
    margin: auto;
}

.player-list-button{
    position: absolute;
    bottom: 10px;
    width: 135px;
    height: 53px;
    overflow: hidden;
    background-color: var(--br-c-normal);
    color:var(--br-dark);
    border: 1px solid var(--br-c-dark);
    border-radius: 5px;
}

.greyed-out-container {
    position: absolute; /* Position it relative to the parent container */
    top: 0;
    left: 0;
    width: 100%; /* Cover the full width */
    height: 100%; /* Cover the full height */
    background-color: var(--br-trans-dark); /* Use semi-transparent grey */
    z-index: 1; /* Ensure it overlays the content */
    border-radius: 10px; 
}