.invite-friends-icon-container svg{
    height: 20px;
    color: white;
}

.invite-friends-icon-container{
    border-radius: 15%;
    bottom: 22vh;
    border-top: 2px solid white;
    border-right: 2px solid white;
    background-color:transparent;
    position: absolute;
    left:22vw;
}