@import "../colors.css";

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.blurred {
    filter: blur(7px);
    z-index: 4;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.186); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}


.modal-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    min-height: 200px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2000;
    text-align: center;
    position: relative;
    display: block; 
    margin: 0 auto; 
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 18px;
    width: 100%; 
}

.form-group input[type="checkbox"] {
    width: 30px; 
    height: 30px;
    margin-left: 8px;
    vertical-align: middle; 
    cursor: pointer; 
}

.form-row {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px; 
}


.form-group label {
    margin-right: 10px; 
    font-size: 16px;
}

.modal-container h2 {
    margin-bottom: 20px;
}

.modal-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-buttons .big-button {
    padding: 10px 20px;
    font-size: 16px;
}


.form-group {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
    width: 100%; 
}


.form-group label {
    margin-right: 10px; 
    font-size: 16px;
}

.modal-container select {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    min-width: 200px;
}


.modal-buttons {
    margin-top: 20px; 
    display: flex;
    justify-content: space-between;
}

.pdf-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: var(--br-red);
    font-weight: bold;
}
