@import "../colors.css";

/* Game Container */
.game-li-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 130px; 
    border: 1px solid var(--brand-yellow);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: var(--brand-yellow); 
    margin: 16px;
    padding: 16px; 
}
.game-li-container.team-battle {
    background-color: var(--brand-red);
    border : 1px solid var(--brand-red);
}

.game-li-container:hover {
    transform: translateY(-5px);
}


.lock-icon {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 24px;

    color: rgba(0, 0, 0, 0.7); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

/* Mostrar el icono al hacer hover sobre la tarjeta */
.game-li-container.locked:hover .lock-icon {
    opacity: 1; /* Muestra el icono con transparencia */
}

.game-li-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.game-header,.game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-code, .game-mode {
    font-size: 20px;
}

.game-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.stat-item {
    display: flex;
    align-items: center; 
    gap: 8px;
}

.players-icon, .spectators-icon {
    width: 24px;
    height: 24px;
}

.player-number, .spectator-number {
    font-size: 16px;
    font-weight: bold;
    line-height: 1; 
    margin: 0;

}

/* CurrentGames */
.current-games-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100vw; 
    margin: 0 48px; 
    padding: 0 16px; 
    justify-content: center;
}
html body {
    background-color: var(--brand-dark) ; 
    margin: 0; 
    padding: 0;
}

/*Palet Color Test*/
.test-button {
    background-color: var(--brand-blue) !important;

}
.test-button2{
    background-color: var(--brand-green) !important; 
}

.test-button-group{
    display: flex !important;
    justify-content: center !important;
    width: 50% !important;
    align-items: center !important;
    margin-left: 25% !important;
}

