:root {
    --br-dark: #23232a;
    --br-yellow-light:#fff0aa;
    --br-yellow: #fde77c;
    --br-yellow-dark:#564619;
    --br-red-light:#f7a8aa;
    --br-red: #f05557;
    --br-red-dark:#501614;
    --br-green-light:#d9ecd4;
    --br-green: #7AEB6b;
    --br-green-dark:#325024;
    --br-blue-light:#d9e5f4;
    --br-blue: #83c7ff;
    --highlight-blue: #279eff;
    --br-blue-dark:#216778;
    --pure-white:#fff;
    --black-transparency:rgba(0,0,0,0.7);
    --br-black-transparency-light:rgba(0, 0, 0, 0.344);
    --br-selected-over-bg:#818a91;
    --br-hovered-over-bg:#96a1aa;
    --br-trans-grey: #ffffff0a;
    --br-trans-grey-light: #ffffff27;
    --br-grey-light: #4c4c52;
    --br-trans-grey-very-light: #ffffff9b;
    --br-trans-dark: #23232a2a;


    --player1-normal: var(--br-blue);
    --player1-dark: var(--br-blue-dark);

    --player2-normal: var(--br-green);
    --player2-dark: var(--br-green-dark);

    --player3-normal: var(--br-red);
    --player3-dark: var(--br-red-dark);

    --player4-normal: var(--br-yellow);
    --player4-dark: var(--br-yellow-dark);

    --player5-normal: #9a88d3;
    --player5-dark: #3b226e;

    --player6-normal: #f47e2d;
    --player6-dark: #4f2811;

    --player7-normal: #f779da;
    --player7-dark: #691f64;

    --player8-normal: #79f7cd;
    --player8-dark: #1f6945;

    --player11-normal: var(--br-blue-dark);
    --player11-dark: var(--br-blue);

    --player12-normal: var(--br-green-dark);
    --player12-dark: var(--br-green);

    --player13-normal: var(--br-red-dark);
    --player13-dark: var(--br-red);

    --player14-normal: var(--br-yellow-dark);
    --player14-dark: var(--br-yellow);

}

html body {
    background-color: var(--br-dark) ; 
    margin: 0; 
    padding: 0;
}